<div>
  <button mat-stroked-button (click)="addProduct()" i18n="@@product.add">Add a Product</button>

  <p i18n="@@product.available">Available: {{allProducts.length}}</p>

  <mat-form-field appearance="outline">
    <mat-label i18n="@@product.category">Choose a category</mat-label>
    <mat-select (selectionChange)="changeCategory($event)">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label i18n="@@product.search">Product search</mat-label>
      <input type="search" matInput [formControl]="searchControl">
    </mat-form-field>

    <button mat-stroked-button (click)="searchProducts()" i18n="@@product.search.btn">Search</button>
  </div>

</div>

<div class="product-list">
  <mat-card class="product" *ngFor="let product of visibleProducts">
    <img src="favicon.ico">

    <p>{{product.name}}</p>
    <p i18n="@@product.quantity">Quantity: {{product.quantity}}</p>
    <p i18n="@@product.price">Price: {{product.price}}</p>

    <button mat-icon-button aria-label="Edit Product" (click)="editProduct(product)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card>
</div>


