<div class="product-info">
  <div>
    <button class="add-product" mat-stroked-button (click)="addProduct()" i18n="@@product.add">Add a Product</button>
    <strong class="available" i18n="@@product.available">Available: {{allProducts.length}}</strong>
  </div>

  <mat-form-field class="category" appearance="outline">
    <mat-label i18n="@@product.category">Choose a category</mat-label>
    <mat-select (selectionChange)="changeCategory($event)">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="search-block">
    <mat-form-field class="search-control" appearance="outline" class="example-full-width">
      <mat-label i18n="@@product.search">Product search</mat-label>
      <input type="search" matInput [formControl]="searchControl">
    </mat-form-field>

    <button class="search-button" mat-stroked-button (click)="searchProducts()" i18n="@@product.search.btn">Search</button>
  </div>

</div>

<div class="product-list">
  <mat-card class="product" *ngFor="let product of visibleProducts">
    <img class="product-img" *ngIf="product.url; else defaultImg" [src]="product.url">

    <div class="product-list_info">
      <p class="product-list_info-top">{{product.name}}</p>
      <div class="product-list_info-btm">
        <p [ngClass]="{'product-count-red': !product.count}" i18n="@@product.quantity">Quantity: <strong>{{product.count}}</strong></p>
        <p i18n="@@product.price">Price: <strong>{{product.price}}</strong></p>
      </div>
    </div>

    <button class="product-edit" mat-icon-button aria-label="Edit Product" (click)="editProduct(product)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card>
</div>

<ng-template #defaultImg>
  <img class="product-img" src="favicon.ico">
</ng-template>


