<div>
  <button mat-stroked-button (click)="addProduct()">Add a Product</button>

  <p>Available: {{allProducts.length}}</p>

  <mat-form-field appearance="fill">
    <mat-label>Choose a category</mat-label>
    <mat-select (selectionChange)="changeCategory($event)">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Product search</mat-label>
      <input type="search" matInput [formControl]="searchControl"
             placeholder="Type the name of the product">
    </mat-form-field>

    <button mat-stroked-button (click)="searchProducts()">Search</button>
  </div>

</div>

<div class="product-list">
  <mat-card class="product" *ngFor="let product of visibleProducts">
    <img src="favicon.ico">

    <p>{{product.name}}</p>
    <p>Quantity: {{product.quantity}}</p>
    <p>Price: {{product.price}}</p>

    <button mat-icon-button aria-label="Edit Product" (click)="editProduct(product)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card>
</div>


