@import 'src/assets/scss/variables';

.product-details {
  height: 100%;
  padding: 10px;
  background-color: $light;
  .add-photo {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    background-color: $white;
    cursor: pointer;

    .mat-icon {
      font-size: 35px;
      width: 35px;
      height: 35px;
    }
  }

  .w-85 {
    width: 85%;
  }

  .price {
    margin-right: 15px;
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }
}
